<footer>
  <div class="row">
    <div class="col-xs-1"></div>

    <div class="col-sm-5">
      Made with <span style="color: #3fb618">&hearts;</span> by Guss
    </div> <!-- end column -->

    <div class="col-xs-3"></div>

    <div class="col-sm-3">

      <a target="blank" class="show-link" href="https://github.com/ImGuss"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
      |

      <a target="blank" class="show-link" href="https://www.linkedin.com/in/imguss/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
      |

      <a target="blank" class="show-link" href="https://github.com/ImGuss/up-vote/issues"><i class="fa fa-bug" aria-hidden="true"></i> Bugs</a>?
    </div>
  </div> <!-- end row -->


</footer>
