a {
  color: white;
}

a:hover {
  color: #3fb618;
}

footer {
  border-top: 1px solid #3fb618;
  margin: 50px;
  padding: 20px;
}

@media (max-width: 767px)
{
  footer {
    text-align: center;
  }
}
