<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    <div class="panel panel-success clear">
      <div class="panel-heading">
        Do you want to add this to the playlist?
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <button (click)="addSongtoPublicPlaylist()" class="btn btn-success btn-block">Yes</button>
        </div>
        <div class="col-sm-6">
          <button (click)="goBackToSearch()" class="btn btn-danger btn-block">No</button></div>
      </div>
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>
