<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    <div class="panel panel-success clear">

    <div class="panel-heading">
      <h2 class="center">Your Playlists</h2>
    </div>

      <div class="panel-body">

        <ul class="list-group">
          <li *ngFor="let list of playlists" class="list-group-item hvr-pop">
              <span class="badge">
                {{ list.tracks.total }}
              </span>
              <a [routerLink]="['/playlists/', list.id]">{{ list.name }}</a>
          </li>
        </ul> <!-- end ngFor loop -->

      </div>
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>
