<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default clear">
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-10">
            <div class="form-group">
              <label class="" for="queryInput"></label>
              <input id="queryInput" class="form-control" type="text" name="query" [(ngModel)]="query" placeholder="SearchMusic..." (keyup)="searchMusic()">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="" for="typeInput"></label>
              <div class="select">
                <select id="typeInput" [(ngModel)]="type" type="text" class="form-control" name="type">
                  <option value="all" selected>All</option>
                  <option value="track">Song</option>
                  <option value="artist">Artist</option>
                  <option value="album">Album</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end panel body -->
    </div> <!-- end panel -->
  </div> <!-- end column -->
</div> <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <app-search-results [results]="results"></app-search-results>
  </div>
</div>
