input,
select,
option {
  color: white;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3fb618;
  border-bottom-left-radius: 0;
}

select {
  border-bottom: none;
}

.select {
  color: white;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3fb618;
  border-bottom-left-radius: 0;
}
