<div class="row">
  <div class="col-sm-6">
    <h1><strong>Landing Page</strong></h1>
  </div> <!-- end column -->
  <div class="col-sm-6">
    <a class="btn btn-success" href="{{ baseUrl }}/auth/spotify"><h1>Login</h1></a>
    <a href=""><h1>Search</h1></a>
  </div> <!-- end column -->
</div> <!-- end row -->
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="generatePlaylist()"><h1>Generate Playlist</h1></button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Show pictures of what the app can do.</p>
  </div> <!-- end column -->
</div> <!-- end row -->
