<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="panel clear-bgd">
      <div class="panel-body">
        <form class="form-group" #myForm="ngForm" (ngSubmit)="createPlaylist()">
          <label for="listNameInput">Playlist Name</label>
          <input class="form-control" id="listNameInput" name="listName" [(ngModel)]="listName" placeholder="Workout Jams, Study Sesh, etc..."><br>
          <label for="listDescInput">Playlist Description</label>
          <input class="form-control" id="listDescInput" name="listDesc" [(ngModel)]="listDesc" placeholder="Songs to workout to, etc..."><br>
          <button class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
